{% extends "base.html" %}
  {% block title %}Python Forum{% endblock %}
  {% block content %}
    <div class="well">
      <h2>Forums</h2>
      <ul class="_forum">
        <li>
          <h3>General</h3>
          <p>This is the General Category...</p>
        </li>
        <li>Python General</li>
        <li>Python Scripts</li>
        <li>Python Jobs</li>
      </ul>
      <ul class="_forum">
        <li>
          <h3>Python Coding</h3>
          <p>Python Coding Category description here</p>
        </li>
        <li>Beginners...</li>
        <li>Graphical User Interfaces</li>
        <li>Networking</li>
        <li>Beginners...</li>
        <li>Graphical User Interfaces</li>
        <li>Networking</li>
      </ul>
      <ul class="_forum">
        <li>
          <h3>General</h3>
          <p>General Catagory</p>
        </li>
        <li>Python General</li>
        <li>Python Scripts</li>
        <li>Python Jobs</li>
      </ul>
      <ul class="_forum">
        <li>
          <h3>Python Coding</h3>
          <p>Python Coding Catagory</p>
        </li>
        <li>Beginners...</li>
        <li>Graphical User Interfaces</li>
        <li>Networking</li>
      </ul>
    </div>
  {% endblock %}
